body {
  font-size: 12px;
  font-family: "Vibur", sans-serif;
  color: wheat;
  text-shadow: 0 0 7px wheat, 0 0 10px wheat, 0 0 21px wheat, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #3e3eeb, #e7a2ae);
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.App {
  box-shadow: 5px 3px 4px 2px rgb(136, 255, 0);
  width: 300px;
  height: 500px;
  background: linear-gradient(to bottom right, #0d9c03, #474765);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zp {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hedrs {
  display: flex;
  justify-content: center;
  align-items: center;
}
